header h1, article h1 {
  max-width: unset;
  text-align: center;
  color: var(--color-primary);
}

article h1 {
  margin-bottom: 1rem;
}

header .subtitle {
  text-align: center;
  font-style: italic;
}
