---
layout: base
---

<header class="section">
  <h1>{{ title }}</h1>
  {% if subtitle %}<div class="subtitle">{{ subtitle }}</div>{% endif %}
</header>

<article>
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
