---
layout: base
---

<article class="region">
  <h1 style="max-width: unset; margin-bottom: 1rem" class="page-title text-center mb-4">{{ title }}</h1>
  <div class="wrapper flow prose mt-4">
    {{ content | safe }}
  </div>
</article>
