---
layout: base
---

<article class="region">
  <h1>
    {{ reflection.title }}{% if reflection.litCycleYear %}<div>
      Year {{ reflection.litCycleYear }}
    </div>{% endif %}
  </h1>

  <div class="wrapper flow prose mt-4">
    {{ content | safe }}
  </div>
</article>
