---
layout: base
---

<article class="region">
  <div class="wrapper flow prose">
    <h1>
      {{ reflection.title }}
      {% if reflection.litCycleYear %}<span class="lit-cycle-year">
        Year {{ reflection.litCycleYear }}
      </span>{% endif %}
    </h1>
    {{ content | safe }}
  </div>
</article>
