---
layout: base
---

<article class="region">
  <h1 class="text-center" style="max-width: unset;">{{ saint.title }}</h1>
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
