---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ meta.developer }}
Contact: {{ meta.developerEmail }}
Site: {{ meta.developerWebsite }}
{% if meta.meta_data.mastodonCreator %}
Mastodon: {{ meta.meta_data.mastodonCreator }}{% endif %}

/* SITE */
Doctype: HTML5
